footer{
    background-color: var(--cor-fundo-padrao);
    grid-area: rodape;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


.texto-copyright{
  color: #ff1212;
}

